# Copy to ".env" (do not commit .env)

# SQL Server
MSSQL_SA_PASSWORD=DemoSqlPassword123!
MSSQL_DB=AltairisDb

# API auth
JWT_SIGNING_KEY=Demo_JWT_Signing_Key_ChangeMe_15m_AuthBackoffice_1234567890
JWT_ISSUER=Altairis.Backoffice
JWT_AUDIENCE=Altairis.Backoffice

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000
